*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: "Arial";
}

#timer-wrapper{
    margin-top: 25%;
}

.timer-container {
    width: 100%;
    text-align: center;
}

p.timer-text {
    text-align: center;
}
